@model MvcChallenge2016.Models.BookListModel
    <h4>BookListModel</h4>
    <hr />
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author(s)</th>
                <th></th>
            </tr>
        </thead>

        @foreach (var book in Model.Books)
            {
            <tr>
                <td><a href="@Url.Action("Edit","Default", new {book.BookID})" id="@book.BookID">@book.Title</a></td>
                <td>@book.AuthorName</td>
                <td><span class="glyphicon glyphicon-trash"></span></td>
            </tr>
        }
        <tr>
            <td><button type="button" class="btn btn-default glyphicon glyphicon-plus"/></td>
            <td></td>
            <td></td>
        </tr>
    </table>
<p>
    @Html.ActionLink("Add", "Add", new { /* id = Model.PrimaryKey */ })
</p>
